:root {
  --primary: #738047;
  --cardfont-color: #474F2C;
  --danger: #F7D4DD;
  --dangerfont: #8C3046;
  --secondary: #DFE4CE;
  --border: #A4B375;
  --logo-color: #F5DFC6;
  --bg-gray: #FFFFFF;
  --bg-gray2: #EEEEEE;
  --warn: #EABD8A;
  --warn-text:#C67A24;
  --trouble: #F27594;
  --trouble-text: #E75578;
  --none: #C5C5C5;
  --none-text: #9A9A9A;
  --header-height: 76px;
  --sidebar-height: clac(100vh - var(--header-height) + 64px);
}
@media (max-width: 992px) {
  :root{
    --sidebar-height: 370px;
  }
}
@media (max-width: 768px) {
  :root{
    --header-height: 54px
  }
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');
@import 'header.scss';
@import 'sidebar.scss';
@import 'loading.scss';

*{
  margin: 0;
  padding: 0;
}
html,body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.btn-change {
  background-color: var(--bg-gray);
  color: var(--primary);
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0 8px;
  border: 1px solid var(--border);
  height: 38px;
  white-space: nowrap;
  &.active{
    background-color: var(--secondary);
  }
}

#map { 
  width: 100vw;
  height: 100vh;
}

.btn-warn {
  border: solid var(--warn) 2px;
  color: var(--warn-text);
  font-weight: 500;
}
.btn-trouble {
  border: solid var(--trouble) 2px;
  color: var(--trouble-text);
  font-weight: 500;
}
.btn-none {
  border: solid var(--none) 2px;
  color: var(--none-text);
  font-weight: 500;
}

.leaflet-div-icon{
  background-color: transparent;
  border: none;
  div {
    width: 40px;
    height: 50px;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-70%);
      font-family: 'Noto Sans TC', sans-serif;
    }
    .distance {
      white-space: nowrap;
    }
  }
}
.bike-popup {
  .leaflet-popup-content-wrapper {
    border: solid 3px var(--border);
  }
  .leaflet-popup-content {
    width: max-content!important;
    font-size: 1rem;
    p {
      margin: 5px 0;
      color: var(--cardfont-color);
      font-weight: bold;
    }
    .box {
      gap: 12px;
      div {
        background-color: var(--secondary);
        padding: 4px 12px;
        border-radius: 4px;
        color: var(--cardfont-color);
        display: flex;
        align-items: center;
      }
    }
  }
  .leaflet-popup-tip-container {
    overflow: unset;
    bottom: -21px;
    .leaflet-popup-tip {
      border-right: solid 3px var(--border);
      border-bottom: solid 3px var(--border);
      box-shadow: none;
    }
  }
}
.route-popup {
  .leaflet-popup-tip-container, .leaflet-popup-close-button {
    display: none;
  }
  .leaflet-popup-content-wrapper {
    background-color: #BC3253;
  }
  .leaflet-popup-content p {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
  }
}
.attraction-page {
  width: 100%;
  height: 308px;
  position: absolute;
  background-color: #fff;
  z-index: 998;
  bottom: 0;
  box-shadow: 0px -2px 4px rgba(118, 118, 118, 0.3);
  padding: 28px 28px 28px 493px;
  display: flex;
  transform: translateY(100%);
  transition: 1s;
  @media (max-width: 992px) {
    z-index: 1000;
    padding: 28px
  }
  &.open {
    transform: translateY(0%);
  }
  h2 {
    font-weight: 700;
    font-size: 32px;
    color: var(--cardfont-color);
    @media (max-width: 1200px) {
      font-size: 22px;
    }
  }
  .contact {
    display: flex;
    color: var(--none-text);
    flex-wrap: wrap;
    p {
      margin: 0;
    }
    i {
      width: 16px;
      text-align: center;
    }
  }
  .left-page {
    width: 70%;
    .info {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
      overflow: hidden;
      font-size: 12px;
      color: #767676;
      text-align: justify;
      padding-right: 28px
    }
  }
  .right-page {
    width: 30%;
    img {
      border-radius: 8px;
    }
    .default-img {
      width: 100%;
      height: 170px;
      background-image: url('@/assets/images/default.png');
      background-repeat: no-repeat;
      background-size: 80%;
      background-position: center center;
      border: 1px solid var(--primary);
      border-radius: 8px;
    }
  }
  .page-bar {
    position: absolute;
    width: 86px;
    height: 26px;
    top: 0;
    left: 60%;
    transform: translate(-50%, -100%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px -2px 4px rgba(118, 118, 118, 0.3);
    cursor: pointer;
    @media (max-width: 992px) {
      left: 50%;
    }
    .triangle {
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 12px solid var(--none-text);
      transition: 1s;
      transform: rotate(180deg);
      &.active {
        transform: rotate(0deg);
      }
    }
  }
}
.oneline {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.danger {
  color: var(--danger)font!important;
  background-color: var(--danger)!important;
}
.none {
  color: var(--none-text)!important;
  background-color: var(--bg-gray2)!important;
}
