$primary: #738047;
$cardfont-color: #474F2C;
$danger: #F7D4DD;
$dangerfont: #8C3046;
$secondary: #DFE4CE;
$border: #A4B375;
$logo-color: #F5DFC6;
$bg-gray: #FFFFFF;
$bg-gray2: #EEEEEE;
$warn: #EABD8A;
$warn-text:#C67A24;
$trouble: #F27594;
$trouble-text: #E75578;
$none: #C5C5C5;
$none-text: #9A9A9A;
$sider-width: 425px;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');
@import 'loading.scss';

*{
  margin: 0;
  padding: 0;
}
html,body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.header {
  height: 76px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $primary;
  z-index: 999;
  padding: 0 70px;
  .logo {
    color: $logo-color;
  }
}
.btn-change {
  background-color: $bg-gray;
  color: $primary;
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0 8px;
  border: 1px solid $border;
}
#map { 
  width: 100vw;
  height: 100vh;
}
.sidebar {
  position: absolute;
  left: 32px;
  top: 112px;
  width: $sider-width;
  height: calc(100vh - 140px);
  background-color: $bg-gray;
  z-index: 999;
  border-radius: 8px;
  padding: 28px 32px;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  .search {
    position: relative;
    cursor: pointer;
    .search-button {
      width: 100%;
      display: inline-block;
      background-color: $bg-gray2;
      &:focus {
        border: $border solid 2px;
        box-shadow: none
      }
    }
    label {
      cursor: pointer;
    }
    i {
      position: absolute;
      right: 7px;
      top: 7px;
      z-index: 999;
      font-size: 25px;
    }
  }
}
.card-section {
  height: calc(100vh - 310px)
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 5px;
  }
  &::-webkit-scrollbar-thumb{
    box-shadow: inset 10px 10px $none-text;
    border-radius: 50px;
  }
}
.cards {
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  border-bottom: solid 1px $secondary;
  max-height: 200px;
  h2 {
    color: $cardfont-color;
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-top: 1rem;
    cursor: pointer;
  }
  .card-button {
    color: $cardfont-color;
    background-color: $secondary;
    border-radius: 8px;
    font-size: 15px;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    width: 47%;

  }
  .count {
    font-size: 26px;
  }
  .distance {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.btn-warn {
  border: solid $warn 2px;
  color: $warn-text;
  font-weight: 500;
}
.btn-trouble {
  border: solid $trouble 2px;
  color: $trouble-text;
  font-weight: 500;
}
.btn-none {
  border: solid $none 2px;
  color: $none-text;
  font-weight: 500;
}
.top-icon {
  position: absolute;
  left: 477px;
  top: 112px;
  z-index: 999;
  display: flex;
  gap: 18px;
}
.find-tab {
  width: 276px;
  height: 60px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 40px;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  display: flex;
  gap: 4px;
  position: relative;
  div {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    background-color: transparent;
    z-index: 999;
    &.active {
      color: #fff;
      animation-name: changeTab;
      animation-duration: .3s;
      // background-color: $primary;
    }
    &:not(.active) {
      animation-name: changeNottab;
      animation-duration: .3s;
    }
  }
  span {
    display: block;
    width: 126px;
    height: 44px;
    border-radius: 40px;
    background-color: $primary;
    position: absolute;
    top: 8px;
    transition: .5s;
    &.active {
      transform: translateX(100%);
    }
  }
}
.locate-icon {
  width: 60px;
  height: 60px;
  background-color: $primary;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  z-index: 999;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  &:hover {
    background-color: $cardfont-color;
  }
  &.none-locate{
    background-color: #C5C5C5;
    cursor: not-allowed;
  }
}

.leaflet-div-icon{
  background-color: transparent;
  border: none;
  div {
    width: 40px;
    height: 50px;
    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-70%);
      font-family: 'Noto Sans TC', sans-serif;
    }
    .distance {
      white-space: nowrap;
    }
  }
}

.leaflet-popup-content-wrapper {
  border: solid 3px $border;
}
.leaflet-popup-content {
  width: max-content!important;
  font-size: 1rem;
  p {
    margin: 5px 0;
    color: $cardfont-color;
    font-weight: bold;
  }
  .box {
    gap: 12px;
    div {
      background-color: $secondary;
      padding: 4px 12px;
      border-radius: 4px;
      color: $cardfont-color;
      display: flex;
      align-items: center;
    }
  }
}
.leaflet-popup-tip-container {
  overflow: unset;
  bottom: -21px;
  .leaflet-popup-tip {
    border-right: solid 3px $border;
    border-bottom: solid 3px $border;
    box-shadow: none;
  }
}
.danger {
  color: $dangerfont!important;
  background-color: $danger!important;
}
.none {
  color: $none-text!important;
  background-color: $bg-gray2!important;
}

@keyframes changetab {
  0%{
    color: $primary
  }
  50%{
    color: $border
  }
  100%{
    color: #fff
  }
}
@keyframes changeNottab {
  0%{
    color: #fff;
  }
  50%{
    color: $border;
  }
  100%{
    color: $primary
  }
}