@mixin card-tab-setting() { 
  color: var(--cardfont-color);
  background-color: var(--secondary);
  border-radius: 8px;
  font-size: 15px;
  padding: 3px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.sidebar {
  position: absolute;
  left: 32px;
  top: calc(var(--header-height) + 36px);
  width: 425px;
  height: var(--sidebar-height);
  background-color: var(--bg-gray);
  z-index: 999;
  border-radius: 8px;
  padding: 28px 32px;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  @media (max-width: 992px) {
    width: 100%;
    top: auto;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 14px 16px;
  }
  .search {
    position: relative;
    cursor: pointer;
    .search-button {
      width: 100%;
      display: inline-block;
      background-color: var(--bg-gray);
      &:focus {
        border: var(--border) solid 2px;
        box-shadow: none
      }
    }
    label {
      cursor: pointer;
    }
    i {
      position: absolute;
      right: 7px;
      top: 7px;
      z-index: 999;
      font-size: 25px;
    }
  }
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;
  &::-webkit-scrollbar{
    width: 5px;
  }
  &::-webkit-scrollbar-thumb{
    box-shadow: inset 10px 10px var(--none-text);
    border-radius: 50px;
  }
}
.Attractions.card-list {
  @media (max-width: 992px) {    
    overflow-y: hidden;
    overflow-x: scroll;
    flex-direction: column;
    &::-webkit-scrollbar{
      height: 10px;
    }
    &::-webkit-scrollbar-thumb{
    box-shadow: inset 10px 10px var(--none-text);
    border-radius: 50px;
  }
  }
}

.cards {
  font-family: 'Noto Sans TC', sans-serif;
  display: flex;
  border-bottom: solid 1px var(--secondary);
  h2 {
    color: var(--cardfont-color);
    font-size: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-top: 1rem;
    cursor: pointer;
  }
  &.card1 {
    max-height: 200px;
    .card-tab {
      @include card-tab-setting;
      width: 47%;
    }
    .count {
      font-size: 26px;
    }
    .distance {
      display: flex;
      align-items: center;
      font-size: 15px;
    }
  }
  &.card2 {
    max-height: 200px;
    .card-tab-dot {
      position: relative;
      &::before {
        content: '';
        width: 9px;
        height: 9px;
        border-radius: 50%;
        display: inline-block;
        background-color: #a8a8a8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
      }
      &.dot1::after{
        content: '';
        height: 100%;
        width: 2px;
        display: inline-block;
        background-color: #a8a8a8;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,0%);
      }
      &.dot2::after{
        content: '';
        height: 100%;
        width: 2px;
        display: inline-block;
        background-color: #a8a8a8;
        z-index: 1;
        position: absolute;
        top: -50%;
        left: 50%;
        transform: translate(-50%,0%);
      }
    }
    .card-tab-dot::after
    .card-tabs {
      div:nth-child(1) {
        flex: 1
      }
      div:nth-child(2) {
        flex: 7
      }
    }
    .card-tab {
      @include card-tab-setting;
      height: 40px;
    }
  }
  &.card3 {
    @media (max-width: 992px) {
      margin-right: 20px;
    }
    .tabs {
      height: 26px;
    }
    .card3-img {
      width: 100%;
      height: 155px;
      border-radius: 8px;
      background-size: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      cursor: pointer;
      &.default {
        background-image: url('@/assets/images/default.png');
        border: solid 1px var(--primary);
        background-size: 80%;
        &:hover {
          background-color: var(--secondary);
        }
      }
      &.has-img{
        transition: .5s;
        &:hover {
          background-size: 120%;
        }
      }
    }
    .locate {
      display: flex;
      justify-content: end;
      align-items: center;
      color: var(--none-text);
    }
    span {
      background-color: var(--primary);
      color: #fff;
      padding: 4px 12px;
      font-size: 12px;
      border-radius: 20px;
      margin-right: 5px;
    }
  }
}

.find-tab {
  width: 276px;
  height: 60px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 40px;
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  display: flex;
  gap: 4px;
  @media (max-width: 992px) {
    width: 60px;
    height: 102px;
    padding: 4px 8px;
    margin-bottom: 28px;
  }
  >div {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    z-index: 999;
    @media (max-width: 992px) {
      flex-direction: column;
      justify-content: space-around;
    }
    .cover-tabs {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      &.active {
        color: #fff;
        animation-name: changeTab;
        animation-duration: .3s;
      }
      &:not(.active) {
        animation-name: changeNottab;
        animation-duration: .3s;
      }
      @media (max-width: 992px) {
        i {
          font-size: 32px;
          width: 40px;
        }
      }
    }

  }
  .cover {
    display: block;
    width: 126px;
    height: 44px;
    border-radius: 40px;
    background-color: var(--primary);
    position: absolute;
    top: 8px;
    transition: .5s;
    &.active {
      transform: translate(100%,0);
    }
    @media (max-width: 992px) {
      width: 44px;
      height: 44px;
      &.active {
        transform: translate(0,100%);
      }
    }
  }
}
.locate-icon {
  width: 60px;
  height: 60px;
  background-color: var(--primary);
  box-shadow: 4px 4px 20px rgba(118, 118, 118, 0.3);
  z-index: 999;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  @media (max-width: 992px) {
    top: auto;
    left: auto;
    bottom: 300px;
    right: 25px;
    transform: translateY(-50%);
  }
  
  &:hover {
    background-color: var(--cardfont-color);
  }
  &.none-locate{
    background-color: #C5C5C5;
    cursor: not-allowed;
  }
}

.card-section {
  height: calc(100vh - 310px);
  @media (max-width: 992px) {
    height: 250px
  }
}

.top-icon {
  position: absolute;
  left: 477px;
  top: calc(var(--header-height) + 36px);
  z-index: 999;
  display: flex;
  gap: 18px;
  color: #fff;
  @media (max-width: 992px) {
    left: auto;
    right: 25px;
    top: auto;
    bottom: calc(var(--sidebar-height));
    flex-direction: column;
  }
}

@keyframes changetab {
  0%{
    color: var(--primary)
  }
  50%{
    color: var(--border)
  }
  100%{
    color: #fff
  }
}
@keyframes changeNottab {
  0%{
    color: #fff;
  }
  50%{
    color: var(--border);
  }
  100%{
    color: var(--primary)
  }
}
